{% extends 'basic.html' %}
{% block title %}内容审核{% endblock %}
{% block content %}
<div class="container" style="padding-top: 20px; width:80%" >
    <div style="text-align: center" width="">
        {% if is_first %}
        <img style="width: auto; height: 300px" alr="暂时没有图片信息">
        {% else %}
                <img style="width: auto; height: 300px" src="data:image/png;base64,{{ image_data }}">
        {% endif %}
        <form method="POST" action="/pic/upload_pic" enctype="multipart/form-data" width="60%" style="display: flex;align-items: center;justify-content: center; padding-top: 30px;">
            <input class="btn btn-default" type="file" name="content_pic" style='width: 50%'>
            <input class="btn  btn-primary" type="submit" value="点击上传">
        </form>
        {% if is_first %}
        <div style="color:whitesmoke">
            请选上传图片~
        </div>
        {% else %}
         <table class="table  table-bordered" style="background:white">
  <caption>检测结果</caption>
  <thead>
    <tr>
        <th>Name</th>
      <th>Type1</th>
      <th>Type2</th>
        <th>Type3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><b>Porn Classes</b></td>
      <td>Normal</td>
      <td>Porn</td>
        <td>Sexy</td>
    </tr>
    <tr>
        <td><b>Score</b></td>

      <td>{{porn_score[0] * 100 }} </td>
      <td>{{porn_score[1] * 100 }} </td>
        <td>{{porn_score[2]* 100 }} </td>
    </tr>
  <tr>
      <td><b>Politic Classes</b></td>
      <td>Normal</td>
      <td>Army</td>
        <td>Flag</td>
    </tr>
    <tr>
        <td><b>Score</b></td>

      <td>{{politic_score[0] * 100 }} </td>
      <td>{{politic_score[1] * 100 }} </td>
        <td>{{politic_score[2] * 100 }} </td>
    </tr>
    <tr>
        <td><b>Terror Classes</b></td>
      <td>Normal</td>
      <td>Terrorist</td>
        <td>Symbol</td>

    </tr>
    <tr>
        <td><b>Score</b></td>

      <td>{{politic_score[0] * 100 }} </td>
      <td>{{politic_score[1] * 100 }} </td>
        <td>{{politic_score[2] * 100}} </td>

    </tr>
  </tbody>
</table>
        {% endif %}
    </div>
</div>
{% endblock %}