{% extends 'basic.html' %} {% block title %}数据列表{% endblock %} {% block
content %}
<link
  rel="stylesheet"
  href="{{  url_for('static', filename='layui/css/layui.css') }}"
/>
<data-container id="db_name" default_db="{{db_names[0].Name}}"></data-container>
<body class="layui-layout-body" style="background-color: white">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">实体列表</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>
    <div>
      <button class="button layui-btn layui-btn-warm" id="current_database">当前:</button>
      <button class="button layui-btn layui-btn-danger">选择数据库</button>
      <select id="selector_db_name">
        <option> 请选择数据库 </option>
        {% for db_name in db_names %}
        <option value="{{db_name.Name}}">{{db_name.Name}}</option>
        {% endfor %}
      </select>
      <button  class="button layui-btn" data-toggle="modal"
      data-target="#myModal2">
        添加数据库
      </button>
    </div>

      <button
        class="button layui-btn"
        data-toggle="modal"
        data-target="#myModal"
      >
        添加实体
      </button>
      <button
        class="button layui-btn layui-btn-danger"
        id="delete_entity"
        data-type="getCheckData"
      >
        删除实体
      </button>
      <button class="button layui-btn layui-btn-warm" disabled="true">
        温馨提示：双击表格项目可以查看实体详情
      </button>
      <table
        id="face_entity_table"
        lay-filter="test"
        style="color: white"
      ></table>
 
    <!-- 内容主体区域 -->
    <div style="padding: 15px"></div>
  </div>
  <!-- 模态框（Modal） -->
  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">添加实体</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="input_entity_id">EntityId:</label>
            <input
              class="form-control"
              id="input_entity_id"
              placeholder="实体 ID，可以包含数字、字母和下划线"
            />
          </div>
          <div class="form-group">
            <label for="input_labels">Labels:</label>
            <input
              class="form-control"
              id="input_labels"
              placeholder="可输入多个 用,分割"
            />
          </div>
          <div></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            关闭
          </button>
          <button type="button" class="btn btn-primary" id="submit_change">
            提交更改
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>

  <div
    class="modal fade"
    id="myModal2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">添加实体</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="input_new_db_name">Database Name</label>
            <input
              class="form-control"
              id="input_new_db_name"
              placeholder="请输入新增数据库的名称"
            />
          </div>
          <div></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            关闭
          </button>
          <button type="button" class="btn btn-primary" id="submit_new_db_name">
            提交更改
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>
  <script src="{{url_for('static', filename='layui/layui.js')}}"></script>
  <script>
    //JavaScript代码区域
    layui.use("element", function () {
      var element = layui.element;
    });
  </script>
  <script>
    function getUrlParam(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) {
          return pair[1];
        }
      }
      return null;
    }
    function getDbName() {
      if (getUrlParam("db_name") != null) {
        var db_name = getUrlParam("db_name");
      } else {
        var db_name = $("#db_name").attr("default_db");
      }
      return db_name;
    }
    var getAppKey = function () {
      //获取验证码
      return "fengximeng_test";
    };

    var checkEntityId = function (value) {
      //英文校验
      var ext = /(^[\w]+$)/;
      return ext.test(value);
    };

    $(document).ready(function () {
      //修改btn的内容
      $('#current_database').text('当前数据库:' +decodeURIComponent( getDbName()));
      //监听selector的改变
      $("#selector_db_name").change(function () {
        var db_name = $(this).find("option:selected").attr("value");
        window.location.href =
          "/db/show?ak=" + getUrlParam("ak") + "&db_name=" + db_name;
      });
    });

    layui.use("table", function () {
      var table = layui.table;
      //第一个实例
      table.render({
        elem: "#face_entity_table",
        height: 700,
        url:
          "/db/ListFaceEntities?app_key=" +
          getUrlParam("ak") +
          "&db_name=" +
          getDbName(), //数据接口
        page: true, //开启分页
        limit: 25,
        cols: [
          [
            //表头
            { type: "checkbox" },
            { field: "EntityId", title: "EntityId", width: 180, sort: true },
            { field: "UpdatedAt", title: "更新时间", sort: true, width: 280 },
            { field: "Labels", title: "标签" },
          ],
        ],
      });

      table.on("rowDouble(test)", function (obj) {
        var entity_id = obj.data.EntityId;

        window.location.href =
          "/db/show_detail?ei=" +
          entity_id +
          "&ak=" +
          getUrlParam("ak") +
          "&db_name=" +
          getDbName();
      });

      var getCheckData = function () {
        //获取选中数据
        var checkStatus = table.checkStatus("face_entity_table"),
          data = checkStatus.data;
        return data;
      };
      $("#delete_entity").click(function () {
        var delete_data = getCheckData();
        if (delete_data.length == 0) {
          alert("您选择了0项。");
        } else {
          var truthBeTold = window.confirm(
            "确认删除这" + delete_data.length.toString() + "项?"
          );
          if (truthBeTold) {
            for (var i = 0; i < delete_data.length; i++) {
              axios
                .get(
                  "/db/delete_entity?app_key=" +
                    getUrlParam("ak") +
                    "&entity_id=" +
                    delete_data[i]["EntityId"] +
                    "&db_name=" +
                    getDbName()
                )
                .then(function (response) {
                  console.log(response);
                  window.location.reload();
                })
                .catch(function (error) {
                  console.log(error);
                });
            }
          }
        }
      });
    });

    $("#submit_change").click(function () {
      var entity_id = $("#input_entity_id").val();
      var labels = $("#input_labels").val();
      if (checkEntityId(entity_id)) {
        $.ajax({
          type: "POST",
          url: "/db/upload_entity",
          data: {
            app_key: getUrlParam("ak"),
            entity_id: entity_id,
            labels: labels,
          }, //视情况将base64的前面字符串data:image/png;base64,删除
          cache: false,
          success: function (data) {
            console.log(data);
            var code = data.Code;
            console.log(code);
            if (code == -5) {
              alert("EntityId重复，请修改后重试");
            } else if (code == 0) {
              alert("上传成功！");
              window.location.reload();
            }
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("上传失败，请检查网络后重试");
          },
        });
      } else {
        alert("请检查输入");
      }
    });

    $("#submit_new_db_name").click(function(){
      var new_db_name = $("#input_new_db_name").val();
      $.ajax({
          type: "POST",
          url: "/db/create_new_db",
          data: {
            app_key: getUrlParam("ak"),
            db_name: $('#input_new_db_name').val()
          }, //视情况将base64的前面字符串data:image/png;base64,删除
          cache: false,
          success: function (data) {
            console.log(data);
            var code = data.Code;
            console.log(code);
            if (code == -5) {
              alert("数据库名称重复，请修改后重试");
            } else if (code == 0) {
              alert("上传成功！");
              window.location.reload();
            }
            
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("上传失败，请检查网络后重试");
          },
        });
    })
  </script>
</body>
{% endblock %}
